:root {
  --font-body: "Inter", sans-serif;

  --color-text: #111827;
  --color-muted: #4b5563;
  --color-border: #cbd5d1;
  --color-surface: #fff;
  --color-background: #f7faf9;

  --color-primary: #286b5c;
  --color-primary-hover: #205748;
  --color-primary-soft: #e8f3ef;
  --color-primary-soft-hover: #d8ebe4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 440px;
  padding: 20px;
  font-family: var(--font-body);
  color: var(--color-text);
  background: var(--color-background);
}

p {
  margin: 0;
}
